body {
	padding-top: 50px;
	background-color:white;
    font-family: Roboto,"PingFang TC","黑體-繁","Heiti TC","蘋果儷中黑","Apple LiGothic Medium","微軟正黑體","Microsoft JhengHei",sans-serif;
}
img{
	border-radius: 5px;  /*圓角*/

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;
}
div{
	border-radius: 5px;  /*圓角*/

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;
}
td{
    text-align: center;
}

.starter-template {
	padding: 40px 15px;
	text-align: left;
	font-size: large;
	/*background-color:#999;*/

	border-radius: 10px;  /*圓角*/

    -moz-border-radius: 10px;

    -webkit-border-radius: 10px;
}
.title-span{
    font-size: 20px;
    line-height: 35px;
}
.ep_like {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    text-align: center;
    overflow: hidden;
    line-height: 20px;
    text-overflow : ellipsis;
    white-space: nowrap;
}
.item {
    float: left;
    width: 22%;
    height: 200px;
    margin: 1%;
    line-height: 30px;
    background-color: #A9A9A9;
    overflow: hidden;
    text-overflow : ellipsis;
}
.pass{
    background-color: #8f8;
}
.challenge{
    text-align: center;
    color: white;
    font-family: cursive;
    height: 150px;

}
.submit {
    border: none;
    background-color: #0066ff;
    font-size: 15px;
    padding: 6px 20px;
    margin-left: 5px; 
    color: white;
    cursor: pointer;
}

.small-submit{
    border: none;
    background-color: #0066ff;
    font-size: 15px;
    padding: 3px 20px;
    margin-left: 5px; 
    color: white;
    cursor: pointer;
}

