body {
	padding-top: 50px;
	background-color:white;
    font-family: Roboto,"PingFang TC","黑體-繁","Heiti TC","蘋果儷中黑","Apple LiGothic Medium","微軟正黑體","Microsoft JhengHei",sans-serif;
}
img{
	border-radius: 5px;  /*圓角*/

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;
}
div{
	border-radius: 5px;  /*圓角*/

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;
}
td{
    text-align: center;
}
th{
    text-align: center;
}

.starter-template {
	padding: 40px 15px;
	text-align: left;
	font-size: large;

	border-radius: 10px;  /*圓角*/

    -moz-border-radius: 10px;

    -webkit-border-radius: 10px;
}
.title-span{
    font-size: 20px;
    line-height: 35px;
    cursor: default;
}
.ep_like {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    text-align: center;
    overflow: hidden;
    line-height: 20px;
    text-overflow : ellipsis;
    white-space: nowrap;
}
.item {
    position: relative;
    float: left;
    width: 22%;
    height: 200px;
    margin: 1%;
    line-height: 30px;
    background-color: #A9A9A9;
    overflow: hidden;
    text-overflow : ellipsis;
    cursor: default;
}
.challenge{
    text-align: center;
    color: white;
    font-family: cursive;
    height: 150px;

}
.pass{
    color: #008800;
    background-color: #8f8;
}
.submit {
    border: none;
    background-color: #0066ff;
    font-size: 15px;
    padding: 6px 20px;
    margin-left: 5px; 
    color: white;
    cursor: pointer;
}

.small-submit{
    border: none;
    background-color: #0066ff;
    font-size: 15px;
    padding: 3px 20px;
    margin-left: 5px; 
    color: white;
    cursor: default;
}

.hint{
    position: relative;
    left: 10%;
    border: none;
    background-color: #dddddd;
	text-align: center;
    color: #000000;
	font-size: 15px;
    width: 80%;
    height: 20%;
	border-radius: 10px;
    -webkit-transition: 0.5s ease;
    -moz-transition-property: height;
    -webkit-transition-property: height;
    -o-transition-property: height;
    cursor: default;
}

.hint:hover{
    width: 80%;
    height: 60%;
}

.hint_content{
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: 0.3s ease;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    cursor: default;
}

.hint:hover .hint_content{
    opacity: 1;
}

.hint_pass{
    color: #008800;
    background-color: #CCFF99;
}
